table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

thead {
  background: #e5e7eb;
}

th,
td {
  padding: 14px;
  text-align: left;
}

tbody tr {
  transition: 0.3s;
}

tbody tr:hover {
  background: #f1f5f9;
}

.status {
  font-weight: bold;
}

.status.active {
  color: green;
}

.status.warning {
  color: orange;
}

.status.full {
  color: red;
}
